NODE_ENV="production"
MONGO_URI="mongodb+srv://shivprasadharde95_db_user:mh20fr0607@cluster0.osmxsaa.mongodb.net/?appName=Cluster0"
MONGO_DB_NAME="smackathon_2k26"
JWT_SECRET="tTB67N3JOSg5HeKUVQG5m0maHNQ7s8LJWUZyJj1kIM6"
JWT_EXPIRES_IN="7d"
REGISTRATION_JWT_SECRET="eExSGd1BQc1PvCOLx4wfGZoCLWIXjira6n4y7fRfgCg8oIJdrlZVYgwsK7a"
REGISTRATION_ACCESS_TTL="2h"
FRONTEND_URL="https://upsurge2k26.in,https://www.upsurge2k26.in,https://api.upsurge2k26.in
"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="welcome@12345"
ADMIN_EMAIL="admin@upsurge2k26.in"
CLOUDINARY_CLOUD_NAME="deuwzcziz"
CLOUDINARY_API_KEY="382697392546791"
CLOUDINARY_API_SECRET="AAxdUlk38QG6rVrlKGanHjmd3z0"
CLOUDINARY_PAYMENT_FOLDER="smackathon/payment-proofs"
PAYMENT_SCREENSHOT_MAX_BYTES="2097152"
CLOUDINARY_UPLOAD_TIMEOUT_MS="30000"
CLOUDINARY_DELETE_TIMEOUT_MS="15000"
SMACKATHON_UPI_ID_1="chavanhimanshu37@oksbi"
SMACKATHON_PAYEE_NAME_1="Himanshu Chavhan"
SMACKATHON_QR_IMAGE_URL_1="https://drive.google.com/file/d/1xWZPSbeEeu6HHgjnzmGg0bTHcw_0rZS3/view?usp=sharing"
SMACKATHON_UPI_ID_2="8149529064@ibl"
SMACKATHON_PAYEE_NAME_2="Himanshu Chavhan"
SMACKATHON_QR_IMAGE_URL_2="https://drive.google.com/file/d/1T91guSCSODdrjG6akPydsjCjwanhKwi2/view?usp=sharing"
PORT="8080"